!!!
- render '_c'
%html
  %head
    %title Compiler Scaffold
    :ruby
      options = compile_options
      comp = compile(options)
  %body
    - comp.args.each_slice(2) do |opt, val|
      %div #{opt} #{val}
    %hr
    STDOUT:
    %pre= h comp.stdout
    %hr
    STDERR:
    %pre= h comp.stderr
    %hr
    Javascript:
    %pre= h comp.javascript
