<%
require expand_path 'svn'

if !(library_only ||= false)
  closure_lib = Closure::Svn['closure-library', 'http://closure-library.googlecode.com/svn/trunk/']
  form_action = expand_src File.basename(__FILE__, File.extname(__FILE__))
  input_disabled = closure_lib.status ? 'disabled=disabled' : nil
  input_value = input_disabled ? closure_lib.updating_to : closure_lib.remote_revision
  input_value = '' if !closure_lib.update_available?
end

if library_only ### render 'updater', :library_only => true
  closure_lib.path ||= File.expand_path 'closure-library', File.dirname(render_stack[-2])
elsif post? ### handler for form submissions
  if params.has_key? 'revision'
    closure_lib.checkout params['revision']
    response.redirect path
  end
elsif render_stack.size > 1 ### render 'updater' -%>
<form action='<%=h form_action %>' method="post">
  Closure Library revision <%=h closure_lib.local_revision %> in use.
  <% if closure_lib.update_available? -%>
    Revision <%=h closure_lib.remote_revision %> available.
  <% else -%>
    Up to date.
  <% end -%>
  Checkout revision:
  <input type="text" name="revision" value="<%= input_value %>" size="8" <%= input_disabled %> >
  <input type="submit" value="Execute" <%= input_disabled %> />
</form>
<% else ### GET path -%>
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      th {text-align: right; padding: 2px 10px 2px 0px}
    </style>
  </head>
  <body>
    <h1>Closure Library Subversion Updater</h1>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr><th>Local folder:</th><td><%=h closure_lib.path %></td></tr>
      <tr><th>Local revision:</th><td><%=h closure_lib.local_revision %></td></tr>
      <tr><th>Repository URL:</th><td><%=h closure_lib.url %></td></tr>
      <tr><th>Repository revision:</th><td><%=h closure_lib.remote_revision %></td></tr>
    </table>

    <p>
    <form action='<%=h form_action %>' method="post">
      Checkout revision:
      <input type="text" name="revision" value="<%= input_value %>" size="8" <%= input_disabled %> >
      <input type="submit" value="Execute" <%= input_disabled %> />
    </form>
    </p>

    <pre><%=h closure_lib.log %></pre>

    <% if input_disabled -%>
      <script type="text/javascript" charset="utf-8">
        setTimeout("document.location.reload()", 1500);
      </script>
    <% else 
         closure_lib.log.replace ''
       end -%>
    
  </body>
</html>
<% end -%>
